<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>ARDUM - Ingeniería </title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/fontawesome-all.css" rel="stylesheet">
    <link href="stylesheets/swiper.css" rel="stylesheet">
	<link href="stylesheets/magnific-popup.css" rel="stylesheet">
	<link href="stylesheets/styles.css" rel="stylesheet">

  <!-- Favicon  -->
  <link rel="icon" href="icon.png">
</head>


<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
	  <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="#"><img src="images/logo.png" alt="alternative"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">INICIO<span class="sr-only">(current)</span></a>
                </li>

                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#intro" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">NOSOTROS</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item page-scroll" href="#details"><span class="item-text">¿POR QUÉ ARDUM?</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="equipo"><span class="item-text">EQUIPO</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#services">SERVICIOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#projects">PROYECTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">CONTÁCTANOS</a>
                </li>
            </ul>
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="https://www.facebook.com/ArdumIng">
                        <span class="hexagon"></span>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="https://www.linkedin.com/company/ardum-ingenieria-spa/">
                        <span class="hexagon"></span>
                        <i class="fab fa-linkedin fa-stack-1x"></i>
                    </a>
                </span>
            </span>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navbar -->

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">

          <div class="col-lg-6-ed">
              <div class="text-container">
                  <h1>INGENIERÍA CON </h1>
                  <h1><span id="js-rotating">HONESTIDAD, RESPONSABILIDAD, CONSTANCIA</span></h1>
                  <h6></h6>
                  <img src="images/logo.png" alt="alternative">
              </div>
              <a class="btn-solid-lg page-scroll" href="#intro">DESCÚBRENOS</a>

          </div> <!-- end of col -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->

    <!-- Intro -->
    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">QUIÉNES SOMOS</div>
                        <h2>ARDUM INGENIERÍA</h2>
                        <p>Queremos desarrollar soluciones que agreguen valor, sean eficientes y sustentables, gracias a la agrupación de un equipo profesional, talentoso y en constante perfeccionamiento</p>
                        <p class="testimonial-text">"Nuestra misión es ser la empresa de ingeniería referente en la asesoría a la operación minera en Chile, entregando soluciones a los difíciles desafíos de crecimiento constante y operación simultánea de las distintas faenas."</p>
                        <div class="testimonial-author">Andrés Segura - Gerente General</div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="images/Fondo_Quienes-Somos.jpg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of intro -->

    <!-- Details 1 (Image 1) -->
     <div id="details" class="accordion">
         <div class="area-1">
         </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2">
        <!-- Accordion -->
         <div class="accordion-container" id="accordionOne">
            <h2>VENTAJAS DE TRABAJAR CON ARDUM</h2>
            <div class="item">
                <div id="headingOne">
                    <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                        <span class="circle-numbering">1</span><span class="accordion-title">Implementación de LEAN</span>
                    </span>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                    <div class="accordion-body">
                      Ofrecemos flexibilidad, mejora continua, transparencia, creación de valor para el cliente y capacitaciones.
                    </div>
                </div>
            </div> <!-- end of item -->

            <div class="item">
                <div id="headingTwo">
                    <span class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                        <span class="circle-numbering">2</span><span class="accordion-title">Conocimientos y experiencia</span>
                    </span>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOne">
                    <div class="accordion-body">
                        Nuestro <a class="green" href="equipo">equipo</a> de ingenieros es altamente experimentado para aplicar soluciones innovadoras y prácticas para cada proyecto.
                    </div>
                </div>
            </div> <!-- end of item -->

            <div class="item">
                <div id="headingThree">
                    <span class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" role="button">
                        <span class="circle-numbering">3</span><span class="accordion-title">Soluciones a la medida con costos competitivos</span>
                    </span>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionOne">
                    <div class="accordion-body">
                        Entregamos valor a través de soluciones de excelencia en estándares de seguridad, medioambiental y de calidad.
                    </div>
                </div>
            </div> <!-- end of item -->
        </div> <!-- end of accordion-container -->
        <!-- end of accordion -->

    </div> <!-- end of area-2 -->
    </div> <!-- end of accordion -->
    <!-- end of details 1 -->

    <!-- Details 2 (Image 2)-->
    <div class="tabs">
        <div class="area-1">
            <div class="tabs-container">

                <!-- Tabs Links -->
                <ul class="nav nav-tabs" id="ariaTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-th"></i> Asociaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-th"></i> Certificaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-th"></i> Softwares</a>
                    </li>
                </ul>
                <!-- end of tabs links -->

                <!-- Tabs Content -->
                <div class="tab-content" id="ariaTabsContent">

                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <p></p>
                        <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">

                          <div class="carousel-inner">
                            ${asociaciones.map(asociacion => `
                            <div class="carousel-item">
                              <div class="image-wrapper">
                              <img class="d-block w-100" src="images/${asociacion.foto}" alt="First slide">
                              </div>
                            </div>
                            `).join('')}

                          </div>
                          <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>

                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                      <p></p>
                      <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          ${certificaciones.map(certificacion => `
                          <div class="carousel-item">
                            <div class="image-wrapper">
                            <img class="d-block w-100" src="images/${certificacion.foto}" alt="First slide">
                            </div>
                          </div>
                          `).join('')}
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>

                      </div>
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                      <p></p>
                      <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          ${software.map(soft => `
                          <div class="carousel-item">
                            <div class="image-wrapper">
                            <img class="d-block w-100 h-custom" src="images/${soft.foto}" alt="First slide">
                            </div>
                          </div>
                          `).join('')}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->



                </div> <!-- end of tab-content -->
                <!-- end of tabs content -->

            </div> <!-- end of tabs-container -->
        </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2"></div> <!-- end of area-2 -->
    </div>
    <!-- end of tabs -->
    <!-- end of details 2 -->

    <!-- Services -->
    <div id="services" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">NUESTROS SERVICIOS</div>
                    <h2>PASIÓN POR DESARROLLAR LA INGENIERÍA<br>QUE SE AJUSTAN A TUS NECESIDADES</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                  ${servicios.map(servicio => `
                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" href="servicio/${servicio.id}" src="images/${servicio.foto}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" href="servicio/${servicio.id}">${servicio.nombre}</h3>
                        </div>
                        <div class="button-container">
                          <a class="btn-solid-reg" href="servicio/${servicio.id}">VER MÁS</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->
                    `).join('')}
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of services -->


    <!-- Projects -->
     <div id="projects" class="filter">
		     <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">PROYECTOS</div>
                    <h2>PROYECTOS DE LOS QUE FORMAMOS PARTE</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="grid">
                        ${proyectos.map(proyecto => `
                        <div class="element-item">
                            <a href="proyecto/${proyecto.id}"><div class="element-item-overlay"><span>${proyecto.nombre}</span></div><img src="images/${proyecto.foto}" alt="alternative"></a>
                        </div>
                        `).join('')}
                    </div> <!-- end of grid -->
                    <!-- end of filter -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
		     </div> <!-- end of container -->
     </div> <!-- end of filter -->
    <!-- end of projects -->

    <!-- Clientes -->
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>NUESTROS CLIENTES</h2>
                    <p class="p-heading">Nuestros clientes son nuestros socios y no podemos imaginar un mejor futuro sin ayudarlos a alcanzar sus objectivos</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">

                              ${clientes.map(cliente => `
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="team-member">
                                      <div class="image-wrapper">
                                        <img class="img-fluid resize" src="images/${cliente.foto}" alt="alternative">
                                      </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
                                `).join('')}

                            </div> <!-- end of swiper-wrapper -->

                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of sliedr-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider -->
    <!-- end of clientes -->

    <!-- Contacto -->
    <div id="contact" class="form-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <div class="section-title">CONTÁCTANOS</div>
                            <h2>COMPLETA EL FORMULARIO Y NUESTRO EQUIPO SE PONDRÁ EN CONTACTO CONTIGO</h2>
                            <ul class="list-unstyled li-space-lg">
                                <li class="address"><i class="fas fa-map-marker-alt"></i>Miraflores 113 Oficina 54, Santiago.</li>
                                <li><i class="fas fa-phone"></i><a href="tel:003024630820">+56 2 3254 7806</a></li>
                                <li><i class="fas fa-phone"></i><a href="tel:003024630820">+56 9 5397 4192</a></li>
                                <li><i class="fas fa-envelope"></i><a href="mailto:contacto@ardum.cl">contacto@ardum.cl</a></li>
                            </ul>
                            <h3>Síguenos en redes sociales</h3>

                            <span class="fa-stack">
                                <a href="https://www.facebook.com/ArdumIng">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>

                            <span class="fa-stack">
                                <a href="https://www.linkedin.com/company/ardum-ingenieria-spa/">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                                </a>
                            </span>

                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">

                        <!-- Contact Form -->
                        <form id="contactForm" action="/" method="post" data-toggle="validator" data-focus="false" novalidate="true">
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="cname" name="cname" required="">
                                <label class="label-control" for="cname">Nombre</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control-input" id="cemail" name="cemail"  required="">
                                <label class="label-control" for="cemail">Email</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control-textarea" id="cmessage" name="cmessage" required=""></textarea>
                                <label class="label-control" for="cmessage">Tu mensaje</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button disabled">ENVIAR</button>
                            </div>
                            <div class="form-message">
                                <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                            </div>
                        </form>
                        <!-- end of contact form -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div>
    <!-- end of contacto -->

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>ARDUM INGENIERÍA</h4>
                        <p class="white">Deseamos desarrollar soluciones que agreguen valor, sean eficientes y sustentables, gracias a la agrupación de un equipo profesional, talentoso y en constante perfeccionamiento. Queremos construir con el cliente una relación de confianza en base a honestidad, responsabilidad y perseverancia.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-3">
                    <div class="text-container">
                        <h4>MENÚ</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                               <a class="white page-scroll" href="#header">INICIO</a>
                            </li>
                            <li>
                               <a class="white page-scroll" href="#intro">NOSOTROS</a>
                            </li>
                            <li class="media">
                                <a class="white page-scroll" href="#services">SERVICIOS</a>
                            </li>
                            <li>
                               <a class="white page-scroll" href="#projects">PROYECTOS</a>
                            </li>
                            <li>
                               <a class="white page-scroll" href="#contact">CONTÁCTANOS</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-3">
                    <div class="text-container">
                      <img src="images/logo-bn.png" alt="alternative">
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->

    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="https://nicolasvegam.github.io">Dev by NVM</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="javascripts/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="javascripts/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="javascripts/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="javascripts/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="javascripts/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="javascripts/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="javascripts/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="javascripts/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="javascripts/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="javascripts/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>

<script>
  $(document).ready(function () {
    $('#carouselExampleControls1').find('.carousel-inner .carousel-item').first().addClass('active');
    $('#carouselExampleControls2').find('.carousel-inner .carousel-item').first().addClass('active');
    $('#carouselExampleControls3').find('.carousel-inner .carousel-item').first().addClass('active');
  });
</script>
