<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="ARDUM - INGENIERÍA">
    <meta name="author" content="NVM">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="ARDUM - INGENIERÍA" /> <!-- website name -->
	<meta property="og:site" content="www.ardum.cl" /> <!-- website link -->
	<meta property="og:title" content="ARDUM - INGENIERÍA"/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="Somos líderes en soluciones de ingeniería" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>ARDUM - Ingeniería </title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/fontawesome-all.css" rel="stylesheet">
    <link href="stylesheets/swiper.css" rel="stylesheet">
	  <link href="stylesheets/magnific-popup.css" rel="stylesheet">
	  <link href="stylesheets/styles.css" rel="stylesheet">

  <!-- Favicon  -->
  <link rel="icon" href="images/icon.png">
</head>


<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
	  <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="#"><img src="images/logo.png" alt="alternative"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">INICIO<span class="sr-only">(current)</span></a>
                </li>

                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#intro" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">NOSOTROS</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><span class="item-text">¿POR QUÉ ARDUM?</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="equipo"><span class="item-text">EQUIPO</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#services">SERVICIOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#projects">PROYECTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">CONTÁCTANOS</a>
                </li>
            </ul>
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="https://www.facebook.com/ArdumIng">
                        <span class="hexagon"></span>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="https://www.linkedin.com/company/ardum-ingenieria-spa/">
                        <span class="hexagon"></span>
                        <i class="fab fa-linkedin fa-stack-1x"></i>
                    </a>
                </span>
            </span>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navbar -->

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">

          <div class="col-lg-6-ed">
              <div class="text-container">
                  <h1>INGENIERÍA CON </h1>
                  <h1><span id="js-rotating">HONESTIDAD, RESPONSABILIDAD, CONSTANCIA</span></h1>
                  <h6></h6>
                  <img src="http://www.ardum.cl/wp-content/uploads/2017/08/logo.png" alt="alternative">
              </div>
              <a class="btn-solid-lg page-scroll" href="#intro">DESCÚBRENOS</a>

          </div> <!-- end of col -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->

    <!-- Intro -->
    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">QUIÉNES SOMOS</div>
                        <h2>ARDUM INGENIERÍA</h2>
                        <p>Queremos desarrollar soluciones que agreguen valor, sean eficientes y sustentables, gracias a la agrupación de un equipo profesional, talentoso y en constante perfeccionamiento</p>
                        <p class="testimonial-text">"Nuestra misión es ser la empresa de ingeniería referente en la asesoría a la operación minera en Chile, entregando soluciones a los difíciles desafíos de crecimiento constante y operación simultánea de las distintas faenas."</p>
                        <div class="testimonial-author">Andrés Segura - Gerente General</div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="images/Fondo_Quienes-Somos.jpg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of intro -->

    <!-- Services -->
    <div id="services" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">NUESTROS SERVICIOS</div>
                    <h2>PASÍON POR DESARROLLAR LA INGENIERÍA<br>QUE SE AJUSTAN A TUS NECESIDADES</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid popup-with-move-anim" href="#project-1" src="images/Estructuras1-400x270.png" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title popup-with-move-anim" href="#project-1">ESTRUCTURAS</h3>
                        </div>
                        <div class="button-container">
                          <a class="btn-solid-reg popup-with-move-anim" href="#project-1">VER MÁS</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                          <div class="image-container">
                            <img class="img-fluid popup-with-move-anim" href="#project-2" src="images/Obras-Civiles-400x270.jpg" alt="alternative">
                          </div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title popup-with-move-anim" href="#project-2">OBRAS CIVILES</h3>
                        </div>
                        <div class="button-container">
                          <a class="btn-solid-reg popup-with-move-anim" href="#project-2">VER MÁS</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid popup-with-move-anim" href="#project-3" src="images/Geotecnia-400x270.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title popup-with-move-anim" href="#project-3">GEOTÉCNIA</h3>
                        </div>
                        <div class="button-container">
                          <a class="btn-solid-reg popup-with-move-anim" href="#project-3">VER MÁS</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid popup-with-move-anim" href="#project-4" src="images/Obras-Hidraúlicas1-342x270.png" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title popup-with-move-anim" href="#project-4">HIDRÁULICA</h3>
                        </div>
                        <div class="button-container">
                          <a class="btn-solid-reg popup-with-move-anim" href="#project-4">VER MÁS</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid popup-with-move-anim" href="#project-5" src="images/Medio-Ambiente-400x270.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title popup-with-move-anim" href="#project-5">MEDIOAMBIENTE</h3>
                        </div>
                        <div class="button-container">
                          <a class="btn-solid-reg popup-with-move-anim" href="#project-5">VER MÁS</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid popup-with-move-anim" href="#project-6" src="images/Mecanica-y-Piping-400x270.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title popup-with-move-anim" href="#project-6">MECÁNICA Y PIPING</h3>
                        </div>
                        <div class="button-container">
                          <a class="btn-solid-reg popup-with-move-anim" href="#project-6">VER MÁS</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid popup-with-move-anim" href="#project-7" src="images/relaves.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title popup-with-move-anim" href="#project-7">GESTIÓN Y DISPOSICIÓN DE RELAVES</h3>
                        </div>
                        <div class="button-container">
                          <a class="btn-solid-reg popup-with-move-anim" href="#project-7">VER MÁS</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of services -->

    <!-- Project Lightboxes -->
    <!-- Lightbox -->
    <div id="project-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>

            <div class="col-lg-8">
                <h3>ESTRUCTURAS</h3>
                <hr class="line-heading">
                <h6></h6>
                <ul class="list-unstyled li-space-lg spacebottom">
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">  Análisis de Estabilidad</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">  Análisis de Infiltraciones</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">  Definición de Campaña de Prospecciones</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">  Estudios de Apoyo Geotécnico a Infraestructura Minera</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">  Ingeniería de Apoyo a la Construcción</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">  Mecánica de suelos</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">  Análisis de distancia peligrosa</div>
                  </li>

                </ul>
                <a class="btn-outline-reg mfp-close as-button" href="#services">ATRÁS</a>
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <img class="img-fluid" src="images/Estructuras1-400x270.png" alt="alternative">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>

            <div class="col-lg-8">
                <h3>OBRAS CIVILES</h3>
                <hr class="line-heading">
                <h6></h6>
                <ul class="list-unstyled li-space-lg spacebottom">
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño de muros de empréstito o arena, y encastres</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño de Sistemas de Drenaje</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño de piscinas de evaporación</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Sentinas, Piscinas y Obras de Recirculación de Agua</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño de plataformas de operación y caminos</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño con geosintéticos</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño de sistemas de filtros granulares</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Desmantelamiento de obras</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño de cortafugas: tipo dren, pared moldeada, inyecciones</div>
                  </li>

                </ul>
                <a class="btn-outline-reg mfp-close as-button" href="#services">ATRÁS</a>
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <img class="img-fluid" src="images/Obras-Civiles-400x270.jpg" alt="alternative">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>

            <div class="col-lg-8">
                <h3>GEOTÉCNIA</h3>
                <hr class="line-heading">
                <h6></h6>
                <ul class="list-unstyled li-space-lg spacebottom">
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Análisis de Estabilidad</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Análisis de Infiltraciones</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Definición de Campaña de Prospecciones</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Estudios de Apoyo Geotécnico a Infraestructura Minera</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Ingeniería de Apoyo a la Construcción</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Mecánica de suelos</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Análisis de distancia peligrosa</div>
                  </li>
                </ul>
                <a class="btn-outline-reg mfp-close as-button" href="#services">ATRÁS</a>
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <img class="img-fluid" src="images/Geotecnia-400x270.jpg" alt="alternative">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-4" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>

            <div class="col-lg-8">
                <h3>HIDRÁULICA</h3>
                <hr class="line-heading">
                <h6></h6>
                <ul class="list-unstyled li-space-lg spacebottom">
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Análisis de Estabilidad</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño canales y rápidos de descarga</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Transporte de agua, gravitacional e impulsado (bombeo)</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Estudios hidrológicos</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño de sedimentadores y desarenadores</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Análisis de transiente (golpe de ariete)</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño de reinyección de agua a la napa</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Balances de agua</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Análisis de crecidas en el depósito de relave</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Estudios de eficiencia en el uso de agua en los depósitos de relave</div>
                  </li>
                </ul>
                <a class="btn-outline-reg mfp-close as-button" href="#services">ATRÁS</a>
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <img class="img-fluid" src="images/Obras-Hidraúlicas1-342x270.png" alt="alternative">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-5" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>

            <div class="col-lg-8">
                <h3>HIDRÁULICA</h3>
                <hr class="line-heading">
                <h6></h6>
                <ul class="list-unstyled li-space-lg spacebottom">
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Contamos con asesores en Medio Ambiente que apoyan el desarrollo de nuestros proyectos, comprendiendo el estudio de análisis de alternativas, análisis de pertinencia, evaluación preliminar de impactos ambientales, DIAs y permisos ambientales sectoriales, entre otros.</div>
                  </li>
                </ul>
                <a class="btn-outline-reg mfp-close as-button" href="#services">ATRÁS</a>
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <img class="img-fluid" src="images/Medio-Ambiente-400x270.jpg" alt="alternative">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-6" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>

            <div class="col-lg-8">
                <h3>HIDRÁULICA</h3>
                <hr class="line-heading">
                <h6></h6>
                <ul class="list-unstyled li-space-lg spacebottom">

                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño de Sistemas de Impulsión</div>
                  <li/>

                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño de Procesos Mineros</div>
                  <li/>

                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Mejoras a Procesos de transporte</div>
                  <li/>

                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño de Plantas de Proceso</div>
                  <li/>

                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                    <div class="media-body spacedot">Dimensionamiento de plantas de tratamiento de agua</div>
                  <li/>

                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño y cálculo de redes de agua potable</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño y cálculo de redes de alcantarillado</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño de Pipelines</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Mejoras a Instalaciones Existentes</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Dimensionamiento de Sistemas de recuperación de agua mediante Balsas en laguna</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño de sistemas de ventilación</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño de sistemas de transporte de relaves convencionales</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Diseño de sistemas de transporte de relaves espesados</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Revisión de proyectos (Peer Review)</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Realización de Manuales de Operación, con levamiento de información de operación en terreno</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Apoyo en la Puesta en Marcha</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Ingeniería de Apoyo a la Construcción</div>
                  </li>
                  <li class="media spacedot">
                      <i class="fas fa-square"></i>
                      <div class="media-body spacedot">Cursos de inducción a Operadores</div>
                  </li>
                </ul>
                <a class="btn-outline-reg mfp-close as-button" href="#services">ATRÁS</a>
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <img class="img-fluid" src="images/Mecanica-y-Piping-400x270.jpg" alt="alternative">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->

    <!-- Lightbox -->
    <div id="project-7" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>

            <div class="col-lg-8">
                <h3>HIDRÁULICA</h3>
                <hr class="line-heading">
                <h6></h6>
                <ul class="list-unstyled li-space-lg spacebottom">
                  <li class="media spacedot">
                    <i class="fas fa-square"></i>
                    <div class="media-body spacedot">Plan Maestro Depósitos de Relave: Simulaciones de Llenado, Secuencia de Crecimiento, Estimación Inversional y Obras Diferidas</div>
                  </li>
                  <li class="media spacedot">
                    <i class="fas fa-square"></i>
                    <div class="media-body spacedot">Diagnóstico de la Operación y Construcción de Depósitos de Relaves</div>
                  </li>
                  <li class="media spacedot">
                    <i class="fas fa-square"></i>
                    <div class="media-body spacedot">Optimizaciones Operacionales de Depósitos de Relaves</div>
                  </li>
                  <li class="media spacedot">
                    <i class="fas fa-square"></i>
                    <div class="media-body spacedot">Ingeniería para Permisos Ambientales y Sectoriales de Depósitos de Relaves</div>
                  </li>
                  <li class="media spacedot">
                    <i class="fas fa-square"></i>
                    <div class="media-body spacedot">Ingeniería de Apoyo a la Construcción</div>
                  </li>
                  <li class="media spacedot">
                    <i class="fas fa-square"></i>
                    <div class="media-body spacedot">Manual de Operación</div>
                  </li>
                  <li class="media spacedot">
                    <i class="fas fa-square"></i>
                    <div class="media-body spacedot">Manual de Emergencias</div>
                  </li>
                  <li class="media spacedot">
                    <i class="fas fa-square"></i>
                    <div class="media-body spacedot">Ingeniería de Registro EoR</div>
                  </li>
                  <li class="media spacedot">
                    <i class="fas fa-square"></i>
                    <div class="media-body spacedot">Transporte y depositación de relaves Convencionales, Espesados, Filtrados y en Pasta</div>
                  </li>
                </ul>
                <a class="btn-outline-reg mfp-close as-button" href="#services">ATRÁS</a>
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <img class="img-fluid" src="images/relaves.jpg" alt="alternative">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->


    <!-- Contacto -->
    <div id="contact" class="form-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <div class="section-title">CONTÁCTANOS</div>
                            <h2>COMPLETA EL FORMULARIO Y NUESTRO EQUIPO SE PONDRÁ EN CONTACTO CONTIGO</h2>
                            <ul class="list-unstyled li-space-lg">
                                <li class="address"><i class="fas fa-map-marker-alt"></i>Moneda 611 Of. 41, Santiago</li>
                                <li><i class="fas fa-phone"></i><a href="tel:003024630820">+56 2 3254 7806</a></li>
                                <li><i class="fas fa-phone"></i><a href="tel:003024630820">+56 9 5397 4192</a></li>
                                <li><i class="fas fa-envelope"></i><a href="mailto:contacto@ardum.cl">contacto@ardum.cl</a></li>
                            </ul>
                            <h3>Síguenos en redes sociales</h3>

                            <span class="fa-stack">
                                <a href="https://www.facebook.com/ArdumIng">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>

                            <span class="fa-stack">
                                <a href="https://www.linkedin.com/company/ardum-ingenieria-spa/">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                                </a>
                            </span>

                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                      <form method="post" data-toggle="validator" data-focus="false" novalidate="true">
                          <div class="form-group">
                              <input type="text" class="form-control-input" id="cname" required="">
                              <label class="label-control" for="cname">Nombre</label>
                              <div class="help-block with-errors"></div>
                          </div>
                          <div class="form-group">
                              <button type="submit" class="form-control-submit-button disabled">ENVIAR</button>
                          </div>
                      </form>
                        <!-- Contact Form -->
                        <form id="contactForm" action="#intro" method="post" data-toggle="validator" data-focus="false" novalidate="true">
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="cname" required="">
                                <label class="label-control" for="cname">Nombre</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control-input" id="cemail" required="">
                                <label class="label-control" for="cemail">Email</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control-textarea" id="cmessage" required=""></textarea>
                                <label class="label-control" for="cmessage">Tu mensaje</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button disabled">ENVIAR</button>
                            </div>
                            <div class="form-message">
                                <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                            </div>
                        </form>
                        <!-- end of contact form -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div>
    <!-- end of contacto -->

    <!-- Clientes -->
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>NUESTROS CLIENTES</h2>
                    <p class="p-heading">Nuestros clientes son nuestros socios y no podemos imaginar un mejor futuro sin ayudarlos a alcanzar sus objectivos</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="team-member">
                                      <div class="image-wrapper">
                                        <img class="img-fluid resize" src="images/codelco.png" alt="alternative">
                                      </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="team-member">
                                      <div class="image-wrapper">
                                        <img class="img-fluid" src="images/besalco.png" alt="alternative">
                                      </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="team-member">
                                      <div class="image-wrapper">
                                        <img class="img-fluid" src="images/anglo-american.jpg" alt="alternative">
                                      </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="team-member">
                                      <div class="image-wrapper">
                                        <img class="img-fluid verticalcenter resize" src="images/brass.png" alt="alternative">
                                      </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="team-member">
                                      <div class="image-wrapper">
                                        <img class="img-fluid" src="images/enami.jpg" alt="alternative">
                                      </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->


                            </div> <!-- end of swiper-wrapper -->

                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of sliedr-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider -->
    <!-- end of clientes -->

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>ARDUM INGENIERÍA</h4>
                        <p class="white">Deseamos desarrollar soluciones que agreguen valor, sean eficientes y sustentables, gracias a la agrupación de un equipo profesional, talentoso y en constante perfeccionamiento. Queremos construir con el cliente una relación de confianza en base a honestidad, responsabilidad y perseverancia.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-3">
                    <div class="text-container">
                        <h4>MENÚ</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                               <a class="white page-scroll" href="#header">INICIO</a>
                            </li>
                            <li>
                               <a class="white page-scroll" href="#intro">NOSOTROS</a>
                            </li>
                            <li class="media">
                                <a class="white page-scroll" href="#services">SERVICIOS</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-3">
                    <div class="text-container">
                      <img src="images/logo-bn.png" alt="alternative">
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->

    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="https://nicolasvegam.github.io">Dev by NVM</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="javascripts/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="javascripts/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="javascripts/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="javascripts/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="javascripts/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="javascripts/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="javascripts/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="javascripts/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="javascripts/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="javascripts/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>
